@use '@scss/abstracts' as *;

@mixin adaptive-placeholder() {
	width: 100%;
	height: rem(65px);
	padding: rem(24px) rem(16px) rem(12px) rem(16px);
	border: none;
	border-radius: rem(16px);
	color: var(--neutral-12, #040824);
	font-size: $line-height-base;
	background-color: var(--neutral-3, #f3f4f6);
	resize: none;
	outline: none;
	transition: border-color 0.2s ease-in-out;
	border-color: transparent;

	&:focus {
		border: 1px solid var(--brand-1, #574ae2);
	}

	&[required] {
		&:focus,
		&:valid {
			+ label {
				height: 0;
				&[data-placeholder] {
					&:before {
						transition: transform 0.1s ease-in-out;
						transform: translate(0, -1em) scale(0.9);
					}
				}
			}
		}

		&:invalid {
			+ label {
				height: 0;
				&[data-placeholder] {
					&[data-alt] {
						&:before {
							content: attr(data-alt);
						}
					}
				}
			}
		}

		+ label {
			height: 0;
			&[data-placeholder] {
				display: block;
				pointer-events: none;
				margin-top: calc(-42.5px);
				margin-bottom: calc(42.5px);

				&:before {
					content: attr(data-placeholder);
					display: inline-block;
					margin: 0 calc(rem(10px));
					padding: 0 rem(2px);
					color: var(--neutral-7, #8a8ea8);
					font-size: rem($font-size-base);
					transition: 0.1s ease-in-out;
				}
			}
		}
	}
}

.inputWrapper {
	width: 100%;
	position: relative;
	padding: 0;
	margin: 0;
}

.adaptiveInput {
	@include adaptive-placeholder();
}

.icon {
	cursor: pointer;
	position: absolute;
	bottom: 22%;
	left: 90%;
	text-align: center;
	background-color: var(--neutral-3, #f3f4f6);
}
