:root {
	.theme-light {
		--neutral--800: #f5f5f5;
		--neutral--400: #7a7a7a;
		--neutral--100: black;
		--neutral--500: #666666;
		--neutral--700: #cccccc;
		--neutral--300: #b3b3b3;
		--general--shadow-01: #0000000f;
		--neutral--600: #999999;
		--accent--primary-1: #4a90e2;
		--secondary--color-1: #1e90ff;
		--neutral--200: #e0e0e0;
		--system--green-400: #22c55e;
		--system--blue-400: #3b82f6;
		--system--blue-300: #60a5fa;
		--system--blue-200: #93c5fd;
		--system--blue-100: #dbeafe;
		--system--green-300: #34d399;
		--system--green-200: #6ee7b7;
		--system--green-100: #d1fae5;
		--system--red-400: #ef4444;
		--system--300: #f87171;
		--system--red-200: #fecaca;
		--system--red-100: #fee2e2;
		--system--orange-400: #f97316;
		--system--orange-300: #fb923c;
		--system--orange-200: #fdba74;
		--system--orange-100: #ffedd5;
		--general--shadow-02: #00000014;
		--general--shadow-03: #0000001a;
		--general--shadow-04: #00000024;
		--general--shadow-05: #00000029;
		--general--shadow-06: #0000003d;
		--button-shadow--color-01: #4a3aff0f;
		--button-shadow--color-2: #3a8fff14;
		--button-shadow--color-03: #3a8fff14;
		--button-shadow--white-01: #0000000a;
		--button-shadow--white-02: #0000000f;
		--button-shadow--white-03: #0000001a;
	}
}
